#index-home{
    margin-top: 1em !important;
    width: 80em;
}

input[type=text]{
    margin-left: 13em;
}

#tombol{
    margin-left: 25em;
    margin-top: 1em;
    width: 20em;
}
#tb{
    margin-left: 24em;
    margin-top: 1em;
    width: 20em;
}
#tbFix{
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 10em;
    width: 65em;
}
.teks{
    margin-left: 4em;
    font-size: 18px;
}
#evaluasi{
    margin-left: 20em;
    margin-top: 5em;
}